{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}

<div class="container my-5">
  <div class="row">
    <div class="col-md-3">
      <h3 class="mb-3">Categories</h3>
      <ul class="list-group">
        <li class="list-group-item {% if not category %}active{% endif %}">
          <a href="{% url 'shop:product_list' %}" class="text-dark">All</a>
        </li>
        {% for c in categories %}
        <li class="list-group-item {% if category.slug == c.slug %}active{% endif %}">
          <a href="{{ c.get_absolute_url }}" class="text-dark">{{ c.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-9">
      <h1 class="mb-3">{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
      <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <a href="{{ product.get_absolute_url }}">
              <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top" alt="{{ product.name }}">
            </a>
            <div class="card-body">
              <h5 class="card-title"><a href="{{ product.get_absolute_url }}" class="text-dark">{{ product.name }}</a></h5>
              <p class="card-text">${{ product.price }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
